<div class="container">
  <div class="row">
    <div class="mx-auto text-center">
      <h1>About</h1>
      ながのCAKEは全国発送可能なケーキ屋さんです。<br/>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br/>
      さまざまなバリエーションをご用意しております。<br/>
      また、全国へ発送かのうですので「いつ」でも「どこ」でもご注文いただけます。<br/>
      是非ご注文ください。<br/>
    </div>
  </div>
</div>